@import '/src/styles/global-scss.scss';

.select-label {
  display: inline-flex;
  // .select-label__label
  &__label {
    font-size: rem(12);
    line-height: 1.67;
  }
  // .select-label__select
  &__select {
    @extend %body-2;
    --select-opened-outline: none;
    flex-grow: 1;
  }

  // .select-label_full-width
  &_full-width {
    display: flex;
  }

  &_label_gray {
    .select-label__label {
      color: var(--dark-gray);
    }
  }

  &_position-label {
    &_top {
      flex-direction: column;
      row-gap: rem(5);
    }
    &_left {
      flex-direction: row;
      align-items: center;
      column-gap: rem(15);
    }
  }
}
