@import '/src/styles/global-scss.scss';

.select-label {
  display: inline-flex;
  flex-direction: column;
  row-gap: rem(5);
  // .select-label__label
  &__label {
    font-size: rem(12);
    line-height: 1.67;
  }
  // .select-label__select
  &__select {
    @extend %body-2;
    --select-opened-outline: none;
  }
}
