@import '/src/styles/global-scss.scss';

.product-list-filtered {
  --width-column: #{percent(321, 1014)};
  --gap-products: #{percent(25, 1014)};
  // .product-list-filtered__container
  &__container {
  }
  // .product-list-filtered__title
  &__title {
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 25, 20);
    }
  }
  // .product-list-filtered__steps
  &__steps {
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
  // .product-list-filtered__toolbar
  &__toolbar {
    display: flex;
    align-items: center;
    column-gap: percent(25, 1360);

    &:not(:last-child) {
      margin-bottom: rem(25);
    }

    @include tablet-d {
      position: relative;
      column-gap: normal;
      &:before {
        content: '';
        width: rem(1);
        height: rem(33);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        z-index: 1;
      }
    }
  }
  // .product-list-filtered__toolbar-toggle
  &__toolbar-toggle {
    flex: 0 0 rem(321);

    @include tablet-d {
      flex: 0 0 50%;
    }
  }

  // .product-list-filtered__sort
  &__sort {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  // .product-list-filtered__sort-label
  &__sort-label {
    margin: 0 rem(30);
    flex: 1 1 auto;
    text-align: right;
    @extend %body-2-1;
    color: var(--dark-gray);
  }
  // .product-list-filtered__sort-select
  &__sort-select {
    flex: 0 0 percent(321, 1014);
    @extend %body-4-capital;
    background-color: var(--light-gray);

    .select__wrapper {
      padding: rem(14) rem(15);
      border-color: var(--light-gray);
    }

    .select__selected {
      text-wrap: nowrap;
      @include tablet-d {
        text-align: center;
      }
    }

    @include tablet-d {
      flex: 0 0 50%;
      font-size: rem(16);
      text-transform: none;
    }
  }
  // .product-list-filtered__body
  &__body {
    display: flex;
    overflow: hidden;
    column-gap: percent(25, 1360);
  }
  // .product-list-filtered__filters
  &__filters {
    padding: rem(25) 0;
    flex: 0 0 rem(321);
    transition: transform 0.3s ease 0s;
  }
  // .product-list-filtered__products
  &__products {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--gap-products);
    row-gap: rem(50);

    &:not(:last-child) {
      margin-bottom: rem(75);
    }

    @include tablet-d {
      justify-content: space-between;
      column-gap: normal;
    }
  }
  // .product-list-filtered__product
  &__product {
    flex-basis: var(--width-column);

    @include tablet-d {
      max-width: none;
      flex: 0 0 percent(181, 384);
    }
  }
  // .product-list-filtered_filters-hide
  &_filters-hide {
    --width-column: #{percent(321, 1360)};
    --gap-products: #{percent(25, 1360)};

    .product-list-filtered {
      &__filters {
        transform: translateY(-100%);
      }
      &__product {
        transition: flex-basis 0.3s ease 0.3s;
      }
      &__toolbar-toggle {
        @include tablet-u {
          flex-basis: var(--width-column);
          transition: flex-basis 0.3s ease 0.3s;
        }
      }
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: rem(75);
    }
  }
}
