@import '/src/styles/global-scss.scss';

.product-list-filtered {
  --product-list-column-width: #{percent(321, 1014)};
  --product-list-gap: #{percent(25, 1014)};
  // .product-list-filtered__container
  &__container {
  }
  // .product-list-filtered__title
  &__title {
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 25, 20);
    }
  }
  // .product-list-filtered__steps
  &__steps {
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
  // .product-list-filtered__toolbar
  &__toolbar {
    display: flex;
    align-items: center;
    column-gap: percent(25, 1360);

    &:not(:last-child) {
      margin-bottom: rem(25);
    }

    @include tablet-d {
      position: relative;
      column-gap: normal;
      &:before {
        content: '';
        width: rem(1);
        height: rem(33);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        z-index: 1;
      }
    }
  }
  // .product-list-filtered__toolbar-toggle
  &__toolbar-toggle {
    flex: 0 0 rem(321);

    @include tablet-d {
      flex: 0 0 50%;
    }
  }

  // .product-list-filtered__sort
  &__sort {
    flex-grow: 1;

    @include tablet-d {
      flex: 0 0 50%;
    }

    .sort-by__select {
      flex: 0 0 percent(321, 1014);
      @include tablet-d {
        flex: 0 0 100%;
        font-size: rem(16);
        text-transform: none;
      }
    }
  }

  // .product-list-filtered__body
  &__body {
    display: flex;
    overflow: hidden;
    column-gap: percent(25, 1360);
  }
  // .product-list-filtered__filters
  &__filters {
    flex: 0 0 rem(321);
    transition: transform 0.3s ease 0s;
  }
  &__products-wrapper {
    flex-grow: 1;
  }
  // .product-list-filtered__products
  &__products {
    &:not(:last-child) {
      margin-bottom: rem(75);
    }
  }
  // .product-list-filtered_filters-hide
  &_filters-hide {
    --product-list-column-width: #{percent(321, 1360)};
    --product-list-gap: #{percent(25, 1360)};

    .product-list-filtered {
      &__filters {
        transform: translateY(-100%);
      }
      &__toolbar-toggle {
        @include tablet-u {
          flex-basis: var(--product-list-column-width);
          transition: flex-basis 0.3s ease 0.3s;
        }
      }
    }
    .product-list {
      // хак чтобы не сразу вступили в силу новые размеры, за счет задержки анимеции
      &__item {
        transition: flex-basis 0.3s ease 0.3s;
      }
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: rem(75);
    }
  }
  &__wrap-button-more {
    display: flex;
    justify-content: center;
  }
  &__button-more {
    flex-basis: rem(320);
  }
}
