.product-page {
  // .product-page__breadcrumbs
  &__breadcrumbs {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .product-page__steps
  &__steps {
    margin-top: rem(35);
  }
  // .product-page__container
  &__container {
  }
  // .product-page__main
  &__main {
  }
  // .product-page__product
  &__product {
    margin-top: rem(40);

    @include tablet-d {
      margin-top: 0;
    }
  }
  &__title-slider {
    font-weight: 500;
    font-size: rem(21);
    line-height: 1.67;
    letter-spacing: -0.02em;

    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
  &__box-slider-ware {
    &:not(:first-child) {
      @include adaptiveValue('margin-top', 75, 40);
    }
  }
  &__customer-reviews {
    &:not(:first-child) {
      @include adaptiveValue('margin-top', 85, 40);
    }
  }
}
