@import '/src/styles/global-scss.scss';

.favorite {
  &:checked {
    & + .favorite__label {
      background-color: var(--black);
    }
  }
  // .favorite__label
  &__label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue('width', 40, 32);
    @include adaptiveValue('height', 40, 32);
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    svg {
      fill: var(--white);
      stroke: var(--black);
      @include adaptiveValue('width', 20, 16);
      @include adaptiveValue('height', 20, 16);
    }
  }
}
