@import '/src/styles/global-scss.scss';

.personal-info {
  max-height: rem(150);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: rem(10);
  font-weight: 500;
  font-size: rem(14);

  p:not(:last-child) {
    margin-bottom: rem(15);
  }

  @include mdQuery(0, 400) {
    max-height: none;
  }
}
