@import '/src/styles/global-scss.scss';

.personal-info {
  @include adaptiveValue('margin-top', 25, 20);
  @extend %body-2;
  max-height: rem(125);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: rem(10);

  @include mdQuery(0, 400) {
    max-height: none;
  }
}
