@import '/src/styles/global-scss.scss';

.icon-button {
  display: inline-grid;
  justify-items: center;
  gap: rem(5);
  // .link-icon__icon
  &__icon {
    @include adaptiveValue('width', 24, 20);
  }
  // .link-icon__text
  &__text {
    @extend %caption-capital;
  }
}
