@import '/src/styles/global-scss.scss';

.form-auth {
  // .form-login__title
  &__title {
    @extend %subtitle-1;
  }
  // .form-login__input
  &__input {
    &:not(:first-child) {
      margin-top: rem(25);
    }
  }
  // .form-login__checkbox
  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(15);
    flex-wrap: wrap;

    &:not(:first-child) {
      margin-top: rem(15);
    }
  }
  // .form-login__link
  &__link {
    @extend %body-2;
    color: var(--dark-gray);
  }
  // .form-login__btn
  &__btn {
    &:not(:first-child) {
      margin-top: rem(40);
    }
  }
  &__error {
    color: var(--red);
    @extend %body-2;

    &:not(:first-child) {
      margin-top: rem(10);
    }
  }
}
