.header-cart {
  padding: rem(22) 0;
  background-color: var(--light-gray);
  // .header-cart__container
  &__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: rem(10);
    align-items: center;
    // justify-content: space-between;
  }
  &__link,
  &__delivery,
  &__btn-exit {
    @extend %body-2;
  }
  // .header-cart__block
  &__block {
    display: flex;
    flex-wrap: wrap;
    gap: rem(10) rem(25);
    // .header-cart__block_left
    &_left {
    }
    // .header-cart__block_right
    &_right {
      justify-self: end;
    }
  }
  // .header-cart__btn-back
  &__btn-back {
    display: flex;
    align-items: center;
    gap: rem(15);
  }
  // .header-cart__icon-left
  &__icon-left {
    width: rem(14);
  }
  // .header-cart__text-back
  &__text-back {
  }
  // .header-cart__delivery
  &__delivery {
  }
  // .header-cart__logo
  &__logo {
  }
  // .header-cart__login
  &__login {
  }
  // .header-cart__register
  &__register {
  }
  // .header-cart__account
  &__account {
    display: flex;
    gap: rem(15);
  }
  // .header-cart__icon-avatar
  &__icon-avatar {
    width: rem(20);
  }
  // .header-cart__name
  &__name {
  }
  // .header-cart__btn-exit
  &__btn-exit {
  }
}
