.radio-box {
  display: flex;
  // .radio-box__input
  &__input {
    &:checked {
      & + .radio-box__body {
        &_grid {
          border-color: var(--green);
          background-color: rgba(33, 150, 83, 0.05);
        }

        .radio-box__icon {
          color: var(--green);

          &::before {
            width: rem(12);
            height: rem(12);
          }
        }

        .radio-box__hint {
          color: var(--black);
        }
      }
    }

    &:disabled {
      & + .radio-box__body {
        cursor: not-allowed;
        color: var(--dark-gray);
        .radio-box__icon {
          border-color: currentColor;
        }
        .radio-box__price {
          color: currentColor;
        }
      }
    }
  }
  // .radio-box__body
  &__body {
    flex-grow: 1;
    display: grid;
    grid-template: 'i t' / auto 1fr;
    column-gap: rem(14);
    cursor: pointer;

    &_grid {
      padding: rem(20);
      grid-template:
        'i t p' auto
        '. h h' 1fr / auto 1fr auto;
      @include adaptiveValue('row-gap', 10, 5);
      border: rem(1) solid var(--light-gray);
      background-color: var(--light-gray);
    }
  }
  // .radio-box__icon
  &__icon {
    grid-area: i;
    align-self: center;
    height: rem(20);
    width: rem(20);
    display: flex;
    justify-content: center;
    align-items: center;
    border: rem(2) solid currentColor;
    border-radius: 50%;
    color: var(--dark-gray);

    &::before {
      content: '';
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: currentColor;
    }
  }
  // .radio-box__title
  &__title {
    grid-area: t;
    @extend %subtitle-3;
    @include adaptiveValue('font-size', 16, 14);
  }
  // .radio-box__price
  &__price {
    grid-area: p;
    @extend %subtitle-3;
    @include adaptiveValue('font-size', 16, 14);
    color: var(--green);
  }
  // .radio-box__hint
  &__hint {
    grid-area: h;
    @extend %body-2-1;
    @include adaptiveValue('font-size', 14, 12);
    color: var(--dark-gray);
  }
}
