@import '/src/styles/global-scss.scss';

.cart-list {
  &__header {
    @extend %caption;
    padding: rem(25) rem(20) rem(15);
    // характеристики грида согласую с характеристиками грида в компоненте WareCardCart
    // чтобы шапка совпадала с контентом в компоненте WareCardCart
    display: grid;
    grid-template-columns:
      minmax(7.375rem, 14.3377885784%) minmax(auto, 40.5832320778%)
      minmax(7.0625rem, 9.125rem) auto;
    @include adaptiveValue('column-gap', 20, 10, $containerWidth, 992, 1);
    background-color: var(--light-gray);
    border-bottom: rem(1) solid var(--gray);
    color: var(--dark-gray);

    @include tablet-d {
      column-gap: percent(20, 823);
    }
  }
  // .cart-list__list
  &__list {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .cart-list__item
  &__item {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .cart-list__total
  &__total {
    padding: rem(16) rem(40);
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(20);
    background-color: var(--light-gray);

    @include mobile-d {
      padding: rem(20);
    }
  }
  // .cart-list__total-text
  &__total-text {
    @extend %subtitle-2;

    @include mobile-d {
      font-size: rem(14);
      line-height: 2.5;
    }
  }
  // .cart-list__total-value
  &__total-value {
    @extend %h1;
    color: var(--red);

    @include mobile-d {
      font-size: rem(21);
    }
  }
  &_ordered {
    .cart-list {
      &__item {
        &:not(:last-child) {
          position: relative;
          margin-bottom: 0;
          // border-bottom: rem(1) solid var(--gray);
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: rem(20);
            right: rem(20);
            height: rem(1);
            background-color: var(--gray);
          }
        }
      }
    }
  }
}
