@import '/src/styles/global-scss.scss';

.account-order-data {
  // .account-order-data__pagination
  &__pagination {
    justify-content: flex-end;

    &:not(:last-child) {
      margin-bottom: rem(25);

      @include mobile-d {
        margin-bottom: rem(20);
      }
    }
  }
  // .account-order-data__orders
  &__orders {
  }
  // .account-order-data__empty
  &__empty {
    padding-top: rem(40);
    @include adaptiveValue('padding-bottom', 150, 15);
  }
}
