.favourites-page {
  // .favourites-page__container
  &__container {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(25);

    @include mobile-d {
      row-gap: rem(20);
    }
  }
  // .favourites-page__title
  &__title {
    text-align: center;

    @include mobile-d {
      flex: 0 0 100%;
    }
  }
  // .favourites-page__select
  &__sort {
    flex: 1 1 auto;
    --sort-by-label-flex: 1 1 auto;
    --sort-by-select-flex: 0 0 #{percent(321, 1234.6)};

    @include tablet-d {
      --sort-by-select-flex: 0 0 #{percent(465, 830)};
      --sort-by-gap: #{rem(10)};
    }

    @include mobile-d {
      --sort-by-select-flex: 0 0 50%;
    }
  }
  // .favourites-page__product-list
  &__product-list {
    flex: 0 0 100%;
  }

  &__pagination {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
  }
}
