@import '/src/styles/global-scss.scss';

.cart-empty {
  display: grid;
  grid-template-columns: minmax(auto, rem(408));
  row-gap: rem(40);
  justify-content: center;
  // .cart-empty__btn
  &__btn {
  }
}
