@import '/src/styles/global-scss.scss';

.ware-card-cart {
  @include adaptiveValue('padding', 40, 20, $containerWidth, 992, 1);
  @include adaptiveValue('padding-left', 27, 7, $containerWidth, 992, 1);
  display: grid;
  grid-template:
    'd i t c p' auto
    'd i a c p' auto
    'd i s c p' 1fr /
    min-content
    minmax(rem(118), percent(118, 823))
    minmax(auto, percent(334, 823))
    minmax(rem(113), rem(146)) auto;
  row-gap: rem(5);
  @include adaptiveValue('column-gap', 20, 10, $containerWidth, 992, 1);
  background-color: var(--light-gray);

  @include tablet-d {
    padding: rem(40);
    padding-left: rem(27);
    column-gap: percent(20, 823);
  }
  // .ware-card-cart__title
  &__title {
    grid-area: t;
  }
  // .ware-card-cart__link
  &__link {
    @extend %subtitle-2;
    // @include adaptiveValue('font-size', 18, 16);
  }
  // .ware-card-cart__img
  &__img {
    grid-area: i;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 118/128;
    background-color: var(--white);

    img {
      max-width: percent(87, 118);
    }
  }
  // .ware-card-cart__article
  &__article {
    grid-area: a;
    @extend %body-2;
    color: var(--dark-gray);
  }
  // .ware-card-cart__props
  &__props {
    grid-area: s;
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(15);
  }
  // .ware-card-cart__prop
  &__prop {
    @extend %body-2;
  }
  // .ware-card-cart__count
  &__count {
    grid-area: c;
    align-self: center;
  }
  // .ware-card-cart__price
  &__price {
    grid-area: p;
    @extend %subtitle-1;
    // @include adaptiveValue('font-size', 21, 16);
    align-self: center;
    justify-self: flex-end;
  }
  // .ware-card-cart__btn-delete
  &__btn-delete {
    grid-area: d;
    padding: rem(7);
    align-self: center;
    // aspect-ratio: 1/1;
    @media (pointer: fine) {
      &:hover {
        color: var(--dark-gray);
      }
    }
  }
  // .ware-card-cart_ordered
  &_ordered {
    padding: rem(30) rem(20) rem(25);
    grid-template:
      'i t c p' auto
      'i a c p' auto
      'i s c p' 1fr /
      minmax(rem(118), percent(118, 823))
      minmax(auto, percent(334, 823))
      minmax(rem(113), rem(146)) auto;

    .ware-card-cart__count {
      align-self: start;
      @extend %body-1;
    }

    .ware-card-cart__price {
      align-self: start;
    }
  }
  // .ware-card-cart_mobile
  &_mobile {
    // max-width: 374px;
    padding: rem(20);
    padding-bottom: rem(10);

    grid-template:
      'd d' auto
      'i t' auto
      'i a' auto
      'i s' 1fr
      'c p' auto / rem(118) 1fr;

    gap: 0;

    .ware-card-cart__btn-delete {
      justify-self: flex-end;
    }

    .ware-card-cart__title,
    .ware-card-cart__article {
      margin-bottom: rem(5);
    }

    .ware-card-cart__title,
    .ware-card-cart__article,
    .ware-card-cart__props {
      padding-left: rem(20);
    }

    .ware-card-cart__props,
    .ware-card-cart__img {
      margin-bottom: rem(10);
    }

    .ware-card-cart__link {
      font-size: rem(16);
      line-height: 1.56;
    }

    .ware-card-cart__price {
      font-size: rem(16);

      align-self: auto;
      justify-self: auto;

      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .ware-card-cart__prop,
    .ware-card-cart__article {
      font-size: rem(12);
      line-height: 1.67;
      font-weight: 400;
    }

    .ware-card-cart__count,
    .ware-card-cart__price {
      border-top: rem(1) solid #e0e0e0;
      padding-top: rem(10);
    }

    .ware-card-cart__count {
      justify-self: center;
    }

    &.ware-card-cart_ordered {
      padding: rem(20);

      .ware-card-cart__count {
        justify-self: start;
      }

      .ware-card-cart__count,
      .ware-card-cart__price {
        padding-top: rem(20);
      }
    }
  }
}
