.product {
  // .product__container
  &__container {
    display: grid;
    grid-template:
      'g b'
      'p b' / 1fr rem(420);
    column-gap: percent(50, 1360);
    justify-content: space-between;

    @include tablet-d {
      grid-template:
        'g'
        'b'
        'p' / 1fr;
    }
  }
  // .product__box
  &__box {
    grid-area: b;

    @include tablet-d {
      margin-bottom: rem(30);
    }
  }
  // .product__article
  &__article {
    @extend %caption-1;

    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 20, 13);
    }
  }
  // .product__title
  &__title {
    @extend %subtitle-1;
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 20, 10);
    }
  }
  // .product__rating
  &__info {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 15, 10);
    }
  }
  // .product__brand-logo
  &__brand-logo {
    @include adaptiveValue('max-width', 45, 40);
    @include adaptiveValue('margin-right', 25, 5);

    img {
      max-width: 100%;
    }
  }
  // .product__rating
  &__rating {
    @include adaptiveValue('margin-right', 20, 5);
  }
  // .product__reviews
  &__reviews {
    margin-right: auto;
    @extend %body-3;
    &:link {
      text-decoration: underline;
    }
  }
  // .product__favorite
  &__favorite {
  }

  // .product__price
  &__price {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  // .product__options
  &__options {
    padding: rem(25) 0;
    border-top: rem(1) solid #e0e0e0;
    border-bottom: rem(1) solid #e0e0e0;

    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
  &__color {
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
  &__size {
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 45, 40);
    }
  }
  // .product__buttons
  &__buttons {
    display: flex;
    flex-direction: column;
    @include adaptiveValue('row-gap', 15, 10);
  }
  // .product__delivery
  &__delivery {
  }
  // .product__gallery
  &__gallery {
    @include adaptiveValue('margin-bottom', 50, 40);
    grid-area: g;
  }
  &__empty {
    margin: auto;
  }
  &__spinner {
    margin: auto;
    width: 10%;
  }
  // .product__parameters
  &__parameters {
    grid-area: p;
  }
}

.product-params {
  // .product-params__title
  &__title {
    @extend %subtitle-1;
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
  // .product-params__text
  &__text {
    @extend %body-1-1;
    line-height: 1.87;

    @include mobile-d {
      font-size: rem(14);
      line-height: 1.79;
    }

    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }
  // .product-params__list-img
  &__list-img {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: rem(25);
    row-gap: rem(60);

    img {
      width: 100%;
    }

    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 60, 40);
    }
  }
  // .product-params__item-img
  &__item-img {
  }
  // .product-params__list
  &__list {
    margin-bottom: rem(-15);
    columns: 2;
    column-gap: percent(186, 893);

    @include mobile-d {
      columns: auto;
    }
  }
  &__wrap-list {
    &:not(:last-child) {
      margin-bottom: rem(45);
    }
  }
  // .product-params__item
  &__item {
    margin-bottom: rem(15);
    display: flex;
    justify-content: space-between;
    column-gap: rem(10);
  }
  // .product-params__term
  &__term {
    @extend %body-1-1;
  }
  // .product-params__description
  &__description {
    @extend %body-1;
  }
}
