@import '/src/styles/global-scss.scss';

.midbar-header {
  background-color: var(--white);
  // .midbar-header__container
  &__container {
  }
  // .midbar-header__nav
  &__nav {
    padding: rem(22) 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: rem(15);
    align-items: center;

    .menu-open & {
      grid-template-columns: 1fr auto 0;
    }
  }
  // .midbar-header__categories
  &__categories {
    @include tablet-d {
      &.gender-category-nav {
        display: none;
      }

      .menu-open & {
        display: flex;
      }
    }
  }
  // .midbar-header__logo
  &__logo {
    transition: none;
    .menu-open & {
      opacity: 0;
      visibility: hidden;
      // grid-column: 1;
      // grid-row: 1;
    }
  }
  // .midbar-header__logo-img
  &__logo-img {
    @include adaptiveValue('width', 243, 150);
    height: auto;
  }
  // .midbar-header__right-toolbar
  &__right-toolbar {
    justify-self: end;

    .menu-open & {
      display: none;
    }
  }
}
