@import '/src/styles/global-scss.scss';

.gallery-preview {
  --swiper-scrollbar-drag-bg-color: var(--red);
  --swiper-scrollbar-bg-color: var(--light-gray);
  --swiper-scrollbar-size: #{rem(6)};
  --swiper-scrollbar-border-radius: 0;

  --swiper-pagination-bullet-horizontal-gap: #{rem(10)};
  --swiper-pagination-color: var(--black);
  --swiper-pagination-bullet-inactive-color: #e0e0e0;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: #{rem(10)};

  display: flex;
  justify-content: space-between;
  aspect-ratio: 893 / 705;

  @include tablet-d {
    aspect-ratio: auto;
  }
  overflow: hidden;
  // .gallery-preview__thumbs-slider
  &__thumbs-slider {
    margin: 0;
    flex: 0 0 rem(150);
  }
  // .gallery-preview__thumbs-slide
  &__thumbs-slide {
    max-width: percent(118, 150);
    height: rem(128);
    display: flex;
    justify-content: center;
    align-items: center;

    &.swiper-slide-thumb-active {
      border: 1px solid var(--gray);
      background: var(--light-gray);
    }
  }
  &__img {
  }
  // .gallery-preview__thumbs-img
  &__thumbs-img {
    width: percent(87, 118);
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  &__thumbs-slider-wrapper {
    // overflow-y: auto;
  }
  // .gallery-preview__main-slider
  &__main-slider {
    max-width: percent(705, 893);
    @include tablet-d {
      max-width: none;
    }

    .swiper-pagination {
      position: static;
      margin-top: rem(20);
    }
  }
  &__main-slider-wrapper {
    @include tablet-d {
      height: auto;
    }
  }
  // .gallery-preview__main-slide
  &__main-slide {
    @include tablet-d {
      aspect-ratio: 1/1;
    }
  }
  // .gallery-preview__main-img
  &__main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
