@import '/src/styles/global-scss.scss';

.delivery-region {
  display: flex;
  align-items: center;
  // .delivery-region__label
  &__label {
    margin-right: rem(10);
    display: flex;
    align-items: center;
  }
  // .delivery-region__select
  &__select {
    .select__wrapper {
      padding: 0;
      column-gap: rem(12);
      border: none;
    }
    .select__list {
      color: var(--black);
    }
  }
  // .delivery-region__icon
  &__icon {
    margin-right: rem(15);
  }
  // .delivery-region__text
  &__text {
  }
}
.nav-topbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  // .nav-topbar-header__list
  &__list {
    display: flex;
    align-items: center;
    // margin: 0 rem(-13);
    @include adaptiveValue('gap', 26, 13, $containerWidth, 992, 1);
  }
  // .nav-topbar-header__item
  &__item {
    // padding: 0 rem(13);
  }
  // .nav-topbar-header__link
  &__link {
    @extend %caption;
    @include adaptiveValue('font-size', 12, 10, $containerWidth, 992, 1);
  }
}
.advantages-topbar-header {
  display: flex;
  // gap: rem(30);
  @include adaptiveValue('gap', 30, 15, $containerWidth, 992, 1);
  // .advantages-topbar-header__item
  &__item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: rem(15);
    @include adaptiveValue('gap', 15, 7, $containerWidth, 992, 1);
    align-items: center;
  }
  // .advantages-topbar-header__icon
  &__icon {
    fill: var(--gray--1);
  }
  // .advantages-topbar-header__text
  &__text {
  }
}
.switchable-menu {
  display: flex;
  gap: rem(25);
  // .switchable-menu__item
  &__item {
  }
  // .switchable-menu__link
  &__link {
    position: relative;
    display: inline-block;
    font-size: rem(14);
    line-height: normal;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: rem(2);
      left: 0;
      bottom: rem(-10);
      transition: all 0.3s ease 0s;
    }

    &.active {
      color: var(--black);
      &::after {
        background-color: currentColor;
      }
    }
    @media (pointer: fine) {
      &:hover {
        color: var(--black);
        &::after {
          background-color: currentColor;
        }
      }
    }
  }
}
.toolbar-header {
  display: flex;
  align-items: center;
  gap: rem(25);
  @include adaptiveValue('gap', 25, 15);
  // .toolbar-header__item
  &__item {
  }
}

.header {
  // .header__topbar
  &__topbar {
  }
  // .header__midbar
  &__midbar {
  }
  // .header__botbar
  &__botbar {
  }
}
.topbar-header {
  padding: rem(15) 0;
  @extend %caption;
  background-color: var(--black);
  color: var(--light-gray);
  @include adaptiveValue('font-size', 12, 10, $containerWidth, 992, 1);
  // @include adaptiveValue('font-size', 12, 10);
  // .topbar-header__container
  &__container {
    display: flex;
    // gap: rem(35);
    @include adaptiveValue('gap', 35, 17, $containerWidth, 992, 1);
  }
  // .topbar-header__delivery-region
  &__delivery-region {
  }
  // .topbar-header__nav
  &__nav {
  }
  // .topbar-header__advantages
  &__advantages {
    flex-grow: 1;
    justify-content: flex-end;
  }
}
.midbar-header {
  // .midbar-header__container
  &__container {
  }
  // .midbar-header__nav
  &__nav {
    padding: rem(22) 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: rem(15);
    align-items: center;

    .menu-open & {
      grid-template-columns: 1fr auto 0;
    }
  }
  // .midbar-header__categories
  &__categories {
    @media (max-width: $tablet) {
      display: none;

      .menu-open & {
        display: flex;
      }
    }
  }
  // .midbar-header__logo
  &__logo {
    transition: none;
    .menu-open & {
      opacity: 0;
      visibility: hidden;
      // grid-column: 1;
      // grid-row: 1;
    }
  }
  // .midbar-header__logo-img
  &__logo-img {
    @include adaptiveValue('width', 243, 150);
    height: auto;
  }
  // .midbar-header__right-toolbar
  &__right-toolbar {
    justify-self: end;

    .menu-open & {
      display: none;
    }
  }
}
.botbar-header {
  background-color: var(--gray-2);
  // .botbar-header__container
  &__container {
  }
  // .botbar-header__nav
  &__nav {
  }
  // .botbar-header__menu
  &__menu {
    display: flex;
    @include adaptiveValue('gap', 25, 15, $containerWidth, 992, 1);
  }
  // .botbar-header__item
  &__item {
    // position: relative;
  }
  // .botbar-header__link
  &__link {
    // position: relative;
    @extend %body-2;
    display: inline-block;
    padding: rem(17) 0 rem(15);
    border-bottom: rem(2) solid transparent;
    @include adaptiveValue('font-size', 14, 12, $containerWidth, 992, 1);
    @media (pointer: fine) {
      &:hover {
        color: var(--black);
        border-color: currentColor;
      }
    }
    // .botbar-header__link_red
    &_red {
      color: var(--red);
      @media (pointer: fine) {
        &:hover {
          color: var(--red);
          border-color: var(--black);
        }
      }
    }
  }
}

.submenu {
  // max-height: rem(404);
  padding-top: rem(45);
  padding-bottom: rem(45);
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--gray-2);
  border-top: rem(1) solid var(--gray);
  // .submenu__container
  &__container {
    // column-count: 4;
    display: flex;
    gap: rem(25);
  }
  // .submenu__section
  &__section {
    flex-grow: 1;
    &_wide {
      flex-grow: 2;
    }
  }
  // .submenu__title
  &__title {
    &:not(:last-child) {
      margin-bottom: em(15, 21);
    }
  }
  // .submenu__list
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // max-height: rem(272);
    max-height: rem(300);
  }
  // .submenu__item
  &__item {
    &:not(:last-child) {
      margin-bottom: em(10, 14);
    }
    // .submenu__item_disk
    &_disk {
      list-style-type: disc;
      &::marker {
        color: var(--red);
      }
    }
  }
  // .submenu__link
  &__link {
    @extend %body-2;
    // .submenu__link_red
    &_red {
      color: var(--red);

      @media (pointer: fine) {
        &:hover {
          color: var(--red-light);
        }
      }
    }
  }
  // .submenu__action
  &__action {
    flex: 0 0 percent(400, 1360);
    align-self: center;
  }
  // .submenu__figure
  &__figure {
    width: 100%;
    height: 100%;
  }
  // .submenu__img
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  // .submenu__figcaption
  &__figcaption {
    margin-top: rem(15);
    @extend %body-2;
  }
}
