@import '/src/styles/global-scss.scss';

.breadcrumbs {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      &::after {
        content: '/';
        margin: 0 rem(5);
      }
    }
  }
  &__link,
  &__item {
    font-weight: 400;
    font-size: rem(12);
    letter-spacing: -0.02em;
  }

  &__label {
    color: var(--dark-gray);
  }

  &_white {
    .breadcrumbs__item {
      color: var(--light-gray);
    }
  }
}
