@import '/src/styles/global-scss.scss';

.options {
  position: absolute;
  background-color: var(--white);
  border: rem(1) solid var(--gray);
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;
  z-index: 20;

  // .options__wrapper
  &__wrapper {
    padding: rem(25) rem(20);
  }

  &__items {
    // overflow: auto;

    &::-webkit-scrollbar {
      // ширина и цвет
      width: rem(5);
      background-color: var(--gray);
    }
    &::-webkit-scrollbar-thumb {
      // цвет бегунка
      background-color: var(--black);
    }

    @supports (not selector(::-webkit-scrollbar)) {
      scrollbar-color: var(--black) var(--gray);
      scrollbar-width: thin;
    }
  }

  &__item {
    cursor: pointer;
    transition: color 0.3s ease 0s;
    &:hover {
      color: var(--dark-gray);
    }
    &:not(:last-child) {
      margin-bottom: em(15, 14);
    }
  }

  &_opened {
    opacity: 1;
    visibility: visible;
    max-height: 100vh;
  }
}
