.options {
  position: absolute;
  background-color: var(--select-options-bg, #fff);
  border: var(--select-options-border, 1px solid #ced4d7);
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: all var(--select-options-transition-duration, 0.3s) ease-in-out;
  z-index: var(--select-options-z-index, 20);

  // .options__wrapper
  &__wrapper {
    padding: var(--select-options-padding, 17.5px 20px);
  }

  &__items {
    &::-webkit-scrollbar {
      // ширина и цвет
      width: var(--select-options-scrollbar-width, 5px);
      background-color: var(--select-options-scrollbar-bg, #ced4d7);
    }
    &::-webkit-scrollbar-thumb {
      // цвет бегунка
      background-color: var(--select-options-scrollbar-thumb-bg, #000);
    }

    @supports (not selector(::-webkit-scrollbar)) {
      scrollbar-color: var(--select-options-scrollbar-thumb-bg, #000)
        var(--select-options-scrollbar-bg, #ced4d7);
      scrollbar-width: thin;
    }
  }

  &__item {
    cursor: pointer;
    transition: color var(--select-options-item-transition-duration, 0.3s) ease
      0s;
    &:hover {
      color: var(--select-options-item-hover-color, #828b8d);
    }
    // &:not(:last-child) {
    //   margin-bottom: em(15, 14);
    // }
    padding: var(--select-options-item-padding, 0.535em 0);

    &:focus {
      outline: var(--select-options-item-focus-outline, 1px solid #828b8d);
    }

    &_selected {
      color: var(--select-options-item-selected-color, #828b8d);
    }
  }

  &__search {
  }

  &__search-input {
    width: 100%;
  }

  &_opened {
    opacity: 1;
    visibility: visible;
    max-height: 100vh;
  }
}
