.select {
  position: relative;
  display: inline-block;

  // .select__wrapper
  &__wrapper {
    width: 100%;
    padding: var(--select-padding, 11.5px 20px);
    display: inline-grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: var(--select-gap, 10px);
    border: var(--select-border, 1px solid #ced4d7);

    cursor: pointer;

    &:hover {
      box-shadow: var(
        --select-hover-box-shadow,
        0 5px 15px rgba(0, 0, 0, 0.05)
      );
    }

    &:focus-visible {
      outline: var(--select-focus-outline, 1px solid #828b8d);
    }
  }

  // .select__input
  &__input {
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
  }

  // .select__icon
  &__icon {
    transition: transform var(--select-transition-duration, 0.3s) ease 0s;
  }

  // .select__selected
  &__selected {
    overflow: hidden;
  }

  // .select__list-selected
  &__list-selected {
    display: flex;
    gap: var(--select-list-selected-gap, 15px);
  }

  // .select__item-selected
  &__item-selected {
    display: flex;
    align-items: center;
    gap: var(--select-item-selected-gap, 10px);
  }

  // .select__item-displaying
  &__item-displaying {
  }

  // .select__item-remove
  &__item-remove {
  }

  // .select_opened
  &_opened {
    .select__icon {
      transform: var(--select-opened-transform-icon, scale(1, -1));
    }

    .select__wrapper {
      outline: var(
        --select-opened-outline,
        var(--select-focus-outline, 1px solid #828b8d)
      );
    }
  }

  // .select_empty
  &_empty {
    .select__selected {
      color: var(--select-placreholder-color, #828b8d);
    }
  }
  &_full-width {
    display: block;
  }
}
