@import '/src/styles/global-scss.scss';

.select {
  position: relative;
  display: inline-block;
  @extend %body-2;

  // .select__wrapper
  &__wrapper {
    width: 100%;
    padding: rem(11.5) rem(20);
    display: inline-grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: rem(10);
    border: rem(1) solid var(--gray);

    cursor: pointer;

    &:hover {
      box-shadow: rem(0) rem(5) rem(15) rem(0) rgba(0, 0, 0, 0.05);
    }

    &:focus {
      outline: rem(1) solid var(--dark-gray);
    }
  }

  // .select__input
  &__input {
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
  }

  // .select__icon
  &__icon {
    transition: transform 0.3s ease 0s;
  }

  // .select__selected
  &__selected {
    overflow: hidden;
  }

  // .select__list-selected
  &__list-selected {
    display: flex;
    gap: rem(15);
  }

  // .select__item-selected
  &__item-selected {
    display: flex;
    align-items: center;
    gap: rem(10);
  }

  // .select__item-displaying
  &__item-displaying {
  }

  // .select__item-remove
  &__item-remove {
  }

  // .select_opened
  &_opened {
    .select__icon {
      transform: scale(1, -1);
    }

    .select__wrapper {
      outline: rem(1) solid var(--dark-gray);
    }
  }
}
