@import '/src/styles/global-scss.scss';

.account-persanal-data {
  max-width: rem(1100);
  display: flex;
  justify-content: space-between;
  column-gap: rem(20);
  // .account-persanal-data__section
  &__section {
    flex: 0 1 rem(408);
  }
  // .account-persanal-data__title
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
}
