@import '/src/styles/global-scss.scss';

.stat-card {
  min-height: rem(415);
  @include adaptiveValue('--padding-inline', 40, 20);
  @include adaptiveValue('--padding-block', 30, 25);
  padding: var(--padding-block) var(--padding-inline);
  background-color: var(--light-gray);
  // .stat-card__header
  &__header {
    padding-bottom: rem(10);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: rem(1) solid var(--gray);
  }
  // .stat-card__title
  &__title {
    @include adaptiveValue('font-size', 21, 16);

    &:first-letter {
      text-transform: uppercase;
    }
  }
  // .stat-card__hint
  &__hint {
    @include adaptiveValue('margin-left', 10, 5);
    @extend %subtitle-3;
    @include adaptiveValue('font-size', 16, 12);
    color: var(--dark-gray);
  }
  // .stat-card__question-icon
  &__question-icon {
    margin-left: rem(5);
  }
  &__box-target {
    flex-grow: 1;
    text-align: right;
  }
  // .stat-card__target
  &__target,
  &__target:visited,
  &__target:link {
    // под этим классом возможен тег <a> (ссылка)
    //:first-letter работает только для блочных элементов
    display: inline-block;
    font-weight: 500;
    font-size: rem(12);
    line-height: 1.67;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--dark-gray);

    &:first-letter {
      text-transform: uppercase;
    }
  }
  // .stat-card__content
  &__content {
  }
}
