.make-order-step {
  @include adaptiveValue('padding', 25, 20);
  border: rem(2) solid var(--gray);
  // .make-order-step__header
  &__header {
    display: flex;
    align-items: center;
    column-gap: rem(25);
  }
  // .make-order-step__title
  &__title {
    flex-grow: 1;
    @extend %subtitle-1;
    text-transform: none;

    @include mobile-d {
      font-size: rem(18);
    }
  }
  // .make-order-step__btn-edit
  &__btn-edit {
    @extend %body-3;
    color: var(--dark-gray);
  }
  // .make-order-step__content
  &__content {
    padding-top: rem(40);
  }

  &_disabled {
    color: var(--dark-gray);
  }
}
