@import '/src/styles/global-scss.scss';

.link-icon {
  display: inline-grid;
  justify-items: center;
  gap: rem(5);
  // .link-icon__icon
  &__icon {
  }
  // .link-icon__text
  &__text {
    @extend %caption-capital;
  }
}
